{% macro license_string(pkg_dict) %}
  {% if 'license_url' in pkg_dict %}
    <a href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}
      <br />
      {% if pkg_dict.license_id == 'CC-BY-2.5-AU' %}
        <a href="{{ pkg_dict.license_url }}" rel="dc:rights">
          <img src="{{ h.url_for_static('/cc_logos/by.png') }}" />
        </a>
      {% else %}
      {% if pkg_dict.license_id == 'CC-BY-3.0-AU' %}
        <a href="{{ pkg_dict.license_url }}" rel="dc:rights">
          <img src="{{ h.url_for_static('/cc_logos/by.png') }}" />
        </a>
      {% else %}
      {% if pkg_dict.license_id == 'CC-BY-4.0' %}
        <a href="{{ pkg_dict.license_url }}" rel="dc:rights">
          <img src="{{ h.url_for_static('/cc_logos/by.png') }}" />
        </a>
      {% else %}
      {% if pkg_dict.license_id == 'CC-BY-NC-3.0-AU' %}
        <a href="{{ pkg_dict.license_url }}" rel="dc:rights">
          <img src="{{ h.url_for_static('/cc_logos/by-nc.png') }}" />
        </a>
      {% else %}
      {% if pkg_dict.license_id == 'CC-BY-NC-4.0' %}
        <a href="{{ pkg_dict.license_url }}" rel="dc:rights">
          <img src="{{ h.url_for_static('/cc_logos/by-nc.png') }}" />
        </a>
      {% else %}
      {% if pkg_dict.license_id == 'CC-BY-NC-SA-3.0-AU' %}
        <a href="{{ pkg_dict.license_url }}" rel="dc:rights">
          <img src="{{ h.url_for_static('/cc_logos/by-nc-sa.png') }}" />
        </a>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endif %}
      {% endif %}
      {% endif %}
    </a>
  {% else %}
    <span property="dc:rights">{{ pkg_dict.license_title }}</span>
  {% endif %}
{% endmacro %}

{% block license %}
  {% if text_only %}
    {% if pkg_dict.license_id %}
      {{ license_string(pkg_dict) }}
    {% else %}
      {{ _('No License Provided') }}
    {% endif %}
  {% else %}
    {% if pkg_dict.license_id %}
      {% block license_wrapper %}
        <section class="module module-narrow module-shallow license">
          {% block license_title %}
            <h2 class="module-heading"><i class="icon-medium icon-lock"></i> {{ _('License') }}</h2>
          {% endblock %}
          {% block license_content %}
            <p class="module-content">
              {% block license_content_inner %}
                {{ license_string(pkg_dict) }}
              {% endblock %}
            </p>
          {% endblock %}
        </section>
      {% endblock %}
    {% endif %}
  {% endif %}
{% endblock %}
